<div>
  <div class="container mx-auto px-4 py-10">
    <div class="flex">
      <div class="pr-10">
        <div class="text-sm text-gray-400 font-medium">Resorte em destaque</div>
        <div class="text-2xl">Ecoresort praia do Forte Bahia</div>
        <div class="text-sm text-gray-400 font-medium mt-4">Hotel qualidade 5 estrelas</div>
        <div class="text-sm text-gray-400 font-medium mt-4">
          <p class="mb-4">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
          <p>Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
        </div>
        <button class="text-yellow-900 bg-yellow-500 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center mt-4">
          Solicitar reserva
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 ml-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
          </svg>
        </button>
      </div>
      <div class="flex-shrink-0">
        <%= image_tag 'featured-img.png', class: "ml-auto h-full w-full" %>
      </div>
    </div>
  </div>
</div>

