<div class=" container mx-auto px-4">
  <div class="container mx-auto h-full flex flex-col items-center justify-center">

    <div>
      <div class="text-center">
        <h1 class="text-gray-200 text-3xl mb-2">Onde você que ir?</h1>
        <p class="text-green-100">Escolha o estado e a cidade para achar os melhores resorts.</p>
      </div>
    </div>

    <div class="mt-7">
      <form class=" flex space-x-4">
        <label>
          <select class="bg-gray-50 border border-gray-300 rounded text-gray-500">
            <option value="">Escolha o estado</option>
          </select>
        </label>

        <label>
          <select class="bg-gray-50 border border-gray-300 rounded text-gray-500">
            <option value="">Escolha a cidade</option>
          </select>
        </label>

        <button class="text-yellow-900 bg-yellow-500 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
          </svg>
          Pesquisar resorts
        </button>

      </form>
    </div>
  </div>
</div>





<br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>

