<div class="py-4">
  <div class="container mx-auto h-full flex flex-col items-center justify-center">
    <div class="mt-7">
      <form class=" flex space-x-4">
        <select class="bg-gray-50 border border-gray-300 rounded text-gray-500">
          <option value="">Escolha o estado</option>
        </select>

        <select class="bg-gray-50 border border-gray-300 rounded text-gray-500">
          <option value="">Escolha a cidade</option>
        </select>

        <button class="text-yellow-900 bg-yellow-500 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
          </svg>
          Pesquisar resorts
        </button>
      </form>
    </div>
  </div>

  <div class=" mx-auto flex border-t border-gray-300 px-4 mt-6">
    <div class="font-bold text-gray-400 mt-1.5">
      LOGO
    </div>

    <div class=" flex items-center space-x-4 ml-auto mt-1.5">
      <%= image_tag 'icon-instagram.png' %>
      <%= image_tag 'icon-facebook.png' %>
    </div>
  </div>
</div>





<br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>

