
<div class="bg-gray-500">
  <div class="container mx-auto px-4 h-24 flex items-center">
    <div class="font-bold">
      LOGO
    </div>

    <ul>
      <li>
        <a href="">Como reservar</a>
        <a href="">Sobre nós</a>
        <a href="">Iformações</a>
        <a href="">Contato</a>
      </li>
    </ul>

  </div>
</div>