
<div class="bg-gray-200">
  <div class="container mx-auto px-4 h-24 flex items-center">
    <div class="font-bold">
      LOGO
    </div>

    <ul class="ml-auto">
      <li>
        <a href="" class="text-sm text-gray-600 hover:text-gray-900 hover:underline">Como reservar</a>
        <a href="" class="text-sm text-gray-600 hover:text-gray-900 hover:underline">Sobre nós</a>
        <a href="" class="text-sm text-gray-600 hover:text-gray-900 hover:underline">Iformações</a>
        <a href="" class="text-sm text-gray-600 hover:text-gray-900 hover:underline">Contato</a>
      </li>
    </ul>

  </div>
</div>