<div>
  <div class="container mx-auto px-4">
    <h3 class="text-2xl font-medium text-center mb-8">Conhaça mais resorts</h3>

    <div class="grid grid-cols-4 grid-rows-2 gap-6">
      <div class="col-span-2 row-span-2"><%= image_tag 'hotel-1.jpeg', class: "w-full h-full object-cover rounded-lg overflow-hidden" %></div>
      <div class="col-span-2 h-60"><%= image_tag 'hotel-2.jpeg', class: "w-full h-full object-cover rounded-lg overflow-hidden" %></div>
      <div><%= image_tag 'hotel-3.jpeg', class: "w-full h-full object-cover rounded-lg overflow-hidden" %></div>
      <div><%= image_tag 'hotel-4.jpeg', class: "w-full h-full object-cover rounded-lg overflow-hidden" %></div>
    </div>
  </div>
</div>

<br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>

