<div class="mx-w-md bg-blue-500">
  <h2 class="text-center font-bold mb-4 text-lg">Login</h2>

  <div class="bg-white shadow-md rounded-md p-4">
    <div>
      <label for="email">E-mail</label>
      <input id="email" type="text">
    </div>

    <div>
      <label for="password">Senha</label>
      <input id="password" type="text">
    </div>

    <div>
      <button>Login</button>
    </div>
  </div>

</div>